# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.venv/
venv/
env/

# Data — never commit
data/raw/*
data/processed/*
data/outputs/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/outputs/.gitkeep

# Models — large files
models/checkpoints/*.pth
models/checkpoints/*.pt
models/checkpoints/*.pkl
models/checkpoints/*.joblib
models/checkpoints/*.task

# saving best (app will load these) --- IGNORE ---
!models/checkpoints/keypoint_svm.joblib
!models/checkpoints/keypoint_best.joblib
!models/checkpoints/mobilenet_best.pth
!models/checkpoints/mobilenet_meta.json

!models/checkpoints/.gitkeep

# Notebooks
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
wandb/
runs/
